:host {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Ensure it takes up the full screen */
  min-height: 100vh;
  width: 100%;
  background-color: #121212;
  color: #e0e0e0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* Reset default margins if necessary */
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  max-width: 90%;
  padding: 20px;
}

h1 {
  font-size: 5vw;
  margin-bottom: 20px;
  color: #ffffff;
  letter-spacing: 1px;
}

.message {
  font-size: 2.5vw;
  line-height: 1.6;
  margin-bottom: 40px;
  font-weight: 300;
  color: #b0b0b0;
}

.redirect {
  font-size: 1.5vw;
  color: #888;
}

a {
  color: #4da6ff;
  text-decoration: none;
  transition: color 0.3s ease;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}

a:hover {
  color: #80c1ff;
  text-decoration: underline;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  .message {
    font-size: 20px;
  }
  .redirect {
    font-size: 16px;
  }
}
